<ion-header>
  <ion-toolbar>
    <ion-title>Update Ronda</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCloseRonda()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input placeholder="idronda" [(ngModel)]="idronda"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input placeholder="nama" [(ngModel)]="nama"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input placeholder="date" [(ngModel)]="ronda_date"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="updateRonda(idronda, nama, ronda_date)">Update</ion-button>
    </ion-col>
  </ion-row>
</ion-content>