<ion-header>
  <ion-toolbar>
    <ion-title>Neighborhood Management System</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center padding>
    <ion-row>
      <ion-col>
        <ion-title>Desa Sukaasih</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="https://i.imgur.com/H8LEgdG.png"
              style="height: 1ionic00px;width: 100px;" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="email" [(ngModel)]="cemail"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input placeholder="password" type="password" [(ngModel)]="cpassword"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="login()">Masuk</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="register()">Register</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
