<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCloseProfil()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div text-center padding>
      <ion-row>
        <ion-col>
          <img src="https://i.imgur.com/F5wHFwp.jpg"
            style="height: 400px;width: 400px;" />
          <h1>Desa Sukaasih</h1>
          <h2>Pasarkemis</h2>
          <h2>Tangerang</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Developed By</p>
          <p>Andri - Christ - Fahmi - Huggy</p>
        </ion-col>
      </ion-row>
    </div>
</ion-content>